@import "tailwindcss";

:root {
  --color-bg: #0F1B1C;
  --color-navbar: #274245;
  --color-navbar-hover : #1b3133;
  --color-btn: #f18a15;
  --color-btn-hover: #d9770a;

  --color-card : linear-gradient( top, #0F1B1C, #274245, rgba(241,138,21,0.1));
  --color-card-logo : #25585c;

  --color-border: #537a7e;
  --color-text: #F1F1EF;
  --color-text-hover: #f18a15;
}

